<!DOCTYPE html>
<html>
<head>
	<% include ../Partials/head %>
</head>
<body bgcolor="black">
	<header>
		<% include ../Partials/header %>
	</header>
	
	<footer>
		<% include ../Partials/footer %>
	</footer>
</body>
</html>
